@import url("https://fonts.googleapis.com/css2?family=Abel&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

:root {
    --material-icons-color: black;
    --field-color: gray;
    --field-background: white;
    --field-background-hover: #eee;
    --input-background: #eee;
    --overlay-background: #18034a;
    --overlay-caption-color: black;
    --overlay-content-background: linear-gradient(rgb(190, 190, 255), lightblue);

    --header-background: linear-gradient(#3618f9e6,#0b0476);
    --main-panel-background: linear-gradient(#0b0476,#0b0476);
    --online-users-panel-background: linear-gradient(to right, rgb(190, 190, 255), lightblue);
    --game-panel-background: none;

    --title-color: rgb(22, 218, 55);
    --caption-color: rgb(22, 218, 55);

    --font-color: rgb(0, 0, 0);
    --date-color: gray;

    --register-form-background: linear-gradient(#5940ffa3,#1e14a9);
    --warning-color: red;

    --button-color: black;
    --button-background: rgb(22, 218, 55);
    --button-background-hover: rgb(81, 255, 110);
}
* {
    font-family: "Abel", sans-serif;
    color: var(--font-color);
    box-sizing: border-box;
}

/* Basic */
body {
    min-width: 600px;
    min-height: 300px;
    height: 100vh;
    padding: 0;
    margin: 0;
}
.center { text-align: center; }
.shadow { box-shadow: 0px 0px 10px rgb(0, 0, 0, 0.4); }

/* Google icon */
.material-icons {
    color: var(--material-icons-color);
}

/* Flexbox related */
.row, .col {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 20px;
}
.col { flex-direction: column; }
.spacer-0 { width: 0; height: 0; }
.spacer-1 { width: 5px; height: 5px; }
.spacer-2 { width: 10px; height: 10px; }
.spacer-3 { width: 15px; height: 15px; }
.spacer-4 { width: 20px; height: 20px; }
.spacer-grow { flex-grow: 1; }

/* Overlay */
.overlay {
    position: fixed;
    left: 0; top: 0;
    width: 100%; height: 100%;
    background: var(--overlay-background);
}
.overlay .caption {
    font-size: 120%;
    color: var(--overlay-caption-color);
}
.overlay .content {
    background: var(--overlay-content-background);
}
.warning {
    font-weight: bold;
    color: var(--warning-color);
}

/* Form related */
form input, form select {
    width: 100%;
}
input, select {
    font-size: 1rem;
    background: var(--input-background);
    border: none;
    border-radius: 20px;
    padding: 10px 15px;
}
input::placeholder, select {
    color: gray;
}
button {
    font-weight: bold;
    height: 40px;
    border: 1px solid black;
    color: var(--button-color);
    background: var(--button-background);
    box-shadow: 2px 2px 2px rgb(0, 0, 0, 0.4);
    padding: 0 20px;
    transition: 1s background;
    cursor: pointer;
}
button:hover {
    background: var(--button-background-hover);
}
button:active {
    margin: 2px -2px -2px 2px;
    box-shadow: 0px 0px;
}
button.icon {
    height: inherit;
    border: none;
    border-radius: 2px;
    background: none;
    box-shadow: none;
    padding: 3px 5px;
    padding-top: 5px;
}
button.icon * {
    color: white;
}
button.icon:hover {
    background: var(--button-background-hover);
}
button.icon:active {
    margin: 2px -2px -2px 2px;
}

/* Data field caption and content */
.field-content {
    border-radius: 50px;
    padding: 10px 15px;
    background: var(--field-background);
    transition: 1s background;
}
.field-content * {
    color: var(--field-color);
}
.field-content:hover {
    background: var(--field-background-hover);
}
.user-name {
    white-space: nowrap;
}

/* Top level container */
#container {
    align-items: stretch;
    gap: 0px;
    width: 100%;
    height: 100%;
    padding: 0;
}

/* Header */
#header {
    height: 80px;
    background: var(--header-background);
    padding: 0 20px;
}
#title {
    font-family: 'Press Start 2P', cursive;
    font-size: 200%;
    text-transform: uppercase;
    color: var(--title-color);
    user-select: none;
    margin: 10px;
}
#title .material-icons {
    color: var(--title-color);
    font-size: 36px;
    margin: 10px;
}
#user-panel {
    padding: 0;
}
#signin-user {
    cursor: pointer;
}
#game-description-para{
    color: antiquewhite;
    font-size: large;
    margin: 50px;
    text-align: center;
}

/* Main panel */
#main-panel {
    height: calc(100% - 40px);
    background: var(--main-panel-background);
}

/* Game area */
#game-panel {
    flex-grow: 1;
    align-items: center;
    height: 100%;
    padding: 0;
    
}
#p2-canvas, #p1-canvas{
    background-color: #000000;
    width: 760px;
    height: 440px;
}
#game-canvas{
	border: 1px solid rgb(0, 0, 0);
	background-color: #000000;
}

#chat-area {
    height: 100%;
    align-items: center;
    justify-content: start;
    gap: 20px;
    overflow-y: auto;
    padding: 10px;
}
.chat-message-panel {
    align-items: center;
    padding: 0;
}
.chat-message {
    align-items: start;
    gap: 5px;
    padding: 0;
}
.chat-date {
    font-size: 75%;
    color: var(--date-color);
}
#initial-buttons{
    display: flex;
    justify-content: center;

}
#inputGameId, #btnStartGame, #btnJoinGame, #btnCreateGame{
    margin: 10px;
}
#pacman-img{
    display: flex;
    justify-content: center;
}
#hostPlayerDiv, #p2-button-text,#p2-buttons{
    display: flex;
    justify-content: center;
    margin: 0%;
}
#p2-button-text{
    font-size: large;
}
#hostPlayerDiv, #p2-button-text-p{
    color:rgb(22, 218, 55);
}
#waiting,#gameID,#gameIDp{
    color:rgb(22, 218, 55);
    font-size: large;
}
#restart-game-btn{
    background-color: white;
    color: black;
    border: 2px solid rgb(22, 218, 55); 
    margin: 10px;
}
/* Online users panel */
#online-users-panel {
	flex: 0 0 250px;
    height: 100%;
    padding: 0;
    background: var(--online-users-panel-background);
}
#online-users-area {
    flex-grow: 1;
    width: 100%;
    align-items: flex-start;
    justify-content: start;
    overflow-y: auto;
}

/* Signin overlay */
#signin-form {
    width: 270px;
    align-self: stretch;
}
#register-form {
    width: 380px;
    background: var(--register-form-background);
    padding: 20px;
}

/* Edit user overlay */
#edit-user-form {
    width: 270px;
    align-self: stretch;
}
